:root {
    --color-background: #fcfff7;
    --color-primary: #e53d00;
    --color-secondary: #ffe900;
    --color-tertiary: #21a0a0;
    --color-accent: #046865;
}

.inicio {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
}

.inicio h1 {
    text-align: center;
    width: 80%;
    font-size: 10vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--color-secondary);
}

.inicio h2 {
    text-align: center;
    width: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--color-background);
    font-size: 5vw;
}

/* #################################################### */

.container-file {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
    padding: 0 20px;
    /* Añade un padding horizontal de 20px */
    background-color: #046865;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='255' height='255' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23ab9e00' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23d4c300' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23ab9e00' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23d4c300' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23FFE900' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23007172' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23008888' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%2321A0A0' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23008888' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23007172' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%2321A0A0' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23007172' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%2321A0A0' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23008888' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%2321A0A0' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.container-img {
    padding: 100px 0;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.img-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--color-tertiary);
    transition: border-color 0.3s ease-in-out;
}

.img-div:hover,
.buton-img:hover {
    border-color: var(--color-secondary);
}

.img-div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.buton-img {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
    color: #21a0a0
}

.buton-img:hover {
    color: #ffe900;
}

/* .img-div:hover img {
    transform: scale(1.1);
} */
@media (min-width: 575px) {
    .container-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .inicio h1 {
        font-size: 5vw;
        width: 90%;
    }

    .inicio h2 {
        font-size: 4vw;
        width: 100%;
    }

}

@media (min-width: 768px) {
    .container-img {
        grid-template-columns: repeat(3, 1fr);
    }

    .inicio h2 {
        font-size: 3vw;
        /* padding: 0 20px; */
    }

}